<body>
    <nav class="navbar navbar-expand-lg fixed-top ">
        <img src="assets/alsaid.png" />
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4 mx-auto sidenav" id="mySidenav">
                <li class="nav-item">
                    <a class="nav-link" data-value="about" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="portfolio" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="blog" href="#">What We Do</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="team" href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="contact" href="#">Alsaid Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="contact" href="#">SDG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="contact" href="#">Get Involved</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="contact" href="#">Contact</a>
                </li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
      </nav>
    
    <body>
       
        <header>
    
        </header>
    
        <div class="container mr-mohannad">
            <div class="row">
                <div class="col">
                    <img src="assets/MOHANAD-ALSAID.png" />
                </div>
                <div class="col">
                    <h2>Founder's Message</h2>
                    <p>What we aspire to do through Alsaid Foundation is to take initiatives, encourage innovation, and, in
                        turn,
                        encourage full participation of Youth in Decision-making as key factor to economic and social
                        improvements.
                    </p>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
    
        <div class="section mcb-section mcb-section-0f8ea1f69"
            style="padding-top:120px;padding-bottom:80px;background-color:#f5f6f9">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap mcb-wrap-b1c6504c4 one  valign-top clearfix" style="padding:0 7%">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column mcb-item-32d989bcc one column_column">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    
    
        <div>
            <article class="trainer trainer-con ">
                <div class="title-what">
                    <h2>What We Do?</h2>
                    <br>
                    <br>
                    <br>
                </div>
    
                <div class="trainer-bio text-right">
                    <h4>Education Research and Workshops
                    </h4>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi neque animi quo cupiditate
                        commodi saepe culpa
                        sed
                        itaque velit maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet
                        quis repellat!
                    </p>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
                <div>
                    <img src="assets/1.jpg" alt="Joanna Gill cooling off after a workout" class="who-img" />
                </div>
            </article>
            <section>
                <!-- third trainer bio -->
                <article class="trainer trainer-con">
                    <img src="assets/2.jpg" class="who-img"
                        alt="Harry Smith wearing a headband and lifting comically small pink weights" />
                    <div class="trainer-bio text-left">
                        <h4>Informing the dialogue on policies</h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi neque animi quo cupiditate
                            commodi saepe culpa
                            sed
                            itaque velit maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet
                            quis repellat!
                        </p>
                        <button type="button" class="btn btn-primary">Read More</button>
                    </div>
                </article>
                <article class="trainer trainer-con">
                    <div class="trainer-bio text-right">
                        <h4>Forums</h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi neque animi quo cupiditate
                            commodi saepe culpa
                            sed
                            itaque velit maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet
                            quis repellat!
                        </p>
                        <button type="button" class="btn btn-primary">Read More</button>
                    </div>
                    <img class="who-img" src="assets/3.jpg" alt="Joanna Gill cooling off after a workout" />
                </article>
    
                <article class="trainer trainer-con">
                    <img class="who-img" src="assets/4.png"
                        alt="Harry Smith wearing a headband and lifting comically small pink weights" />
                    <div class="trainer-bio text-left">
                        <h4>Startups Incubator</h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi neque animi quo cupiditate
                            commodi saepe culpa
                            sed
                            itaque velit maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet
                            quis repellat!
                        </p>
                        <button type="button" class="btn btn-primary">Read More</button>
                    </div>
                </article>
                <article class="trainer trainer-con ">
                    <div class="trainer-bio text-right">
                        <h4>Library</h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi neque animi quo cupiditate
                            commodi saepe culpa
                            sed
                            itaque velit maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet
                            quis repellat!
                        </p>
                        <button type="button" class="btn btn-primary">Read More</button>
                    </div>
                    <img class="who-img" src="assets/5.png" alt="Joanna Gill cooling off after a workout" />
                </article>
            </section>
        </div>
    
    </body>