<section class="events">
<article class="trainer trainer-con">
    <img src="./assets/MicrosoftTeams-image-300x300.jpg" class="who-img" />
    <div class="trainer-bio text-left">
        <h4>وقاية الأطفال من سوء المعاملة والتوعية حول الاعتداء الجنسي
        </h4>
        <p>
            الزمان الإثنين، 5 أيلول، 2022
            (9:00-10:30 pm GMT)
            (Microsoft teams أونلاين، عبر): المكان
            Read more
        </p>
        <button type="button" class="btn btn-primary">Read More</button>
    </div>
</article>

<article class="trainer trainer-con">
    <img src="/assets/Event01.png" class="who-img" />
    <div class="trainer-bio text-left">
        <h4>Understanding the Large-Scale Movement of Refugees: Ambassador Dina Kawar

        </h4>
        <p>
            Date Fri, April 8, 2022
            Time 5:30 PM – 6:30 PM EDT
            Location Milken Institute School of Public Health 950 New Hampshire Avenue Northwest #100 Washington, DC
            20052
        </p>
        <button type="button" class="btn btn-primary">Read More</button>
    </div>
</article>

<article class="trainer trainer-con">
    <img src="/assets/yemen.jpg" class="who-img" />
    <div class="trainer-bio text-left">
        <h4>The Yemen Crisis Ten Years Later Political Humanitarian and Gender Perspectives
        </h4>
        <p>
            Date September 7th, 2021
            Time 12:30 PM – 2:00 PM KSA
            Location Zoom Webinar
        </p>
        <button type="button" class="btn btn-primary">Read More</button>
    </div>
</article>
</section>